<div class="modal-header">
    <h4 class="modal-title pull-left" *ngIf="editMedication">Update medication</h4>
    <h4 class="modal-title pull-left" *ngIf="!editMedication">Add medication</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" *ngIf="isFormReady">
    <form [formGroup]="myGroup" (ngSubmit)="handleSubmit()">
        <div class="form-group row">
            <label for="inputNamePatient" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputNamePatient" formControlName="name">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputAddressPatient" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputAddressPatient" formControlName="description">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </form>

</div>
<!-- 
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
    </div> -->