
<h3>All caregivers</h3>

<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <!-- birthDate Column -->
        <ng-container matColumnDef="birthDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> BirthDate </th>
            <td mat-cell *matCellDef="let row"> {{row.birthDate}} </td>
        </ng-container>

        <!-- birthDate Column -->
        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
            <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
        </ng-container>


        <!-- address Column -->
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
            <td mat-cell *matCellDef="let row"> {{row.address}} </td>
        </ng-container>

        <!-- address Column -->
        <ng-container matColumnDef="doctor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Doctor </th>
            <td mat-cell *matCellDef="let row"> {{row.doctor.name}} </td>
        </ng-container>

        <!-- actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
            <td mat-cell *matCellDef="let row">
                <i class="glyphicon glyphicon-edit" style="cursor: pointer" (click)="onUpdateCaregiver(row)"></i>
                |
                <i class="glyphicon glyphicon-trash" (click)="onDeleteRow(row)" style="cursor: pointer"></i>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<hr>

<div>
    <button type="button" class="btn btn-default" (click)="onAddCaregiver()">Add caregiver</button>
</div>